# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data and reports
/data/*
!/data/stargazers.sqlite

/reports/*
!/reports/report.md
!/reports/figures/
!/reports/figures/*
!/reports/data/
!/reports/data/*
!/reports/live/
!/reports/live/*

# Environment
.env
